@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.Atable{
	float: right;
	width: 56%;
}

.Atable h1 {
	font-size: 3.65em;
	line-height: 1;
	margin: 0;
}

.Atable h1 span {
	font-size: 40%;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 10px;
	position: relative;
	font-family: 'Hanna', serif;
}

.Atable h1 span::before,
.Atable h1 span::after {
	content: '';
	position: absolute;
	width: 70%;
	height: 3px;
	top: 50%;
	margin-top: -1px;
	background: #2cba7c;
}

.Atable h1 span::before {
	right: 107%;
}

.Atable h1 span::after {
	left: 100%;
}