@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.Atable{
	float: right;
	width: 56%;
}

.Atable h1 {
	font-size: 3.65em;
	line-height: 1;
	margin: 0;
}

.Atable h1 span {
	font-size: 40%;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 10px;
	position: relative;
	font-family: 'Hanna', serif;
}

.Atable h1 span::before,
.Atable h1 span::after {
	content: '';
	position: absolute;
	width: 70%;
	height: 3px;
	top: 50%;
	margin-top: -1px;
	background: #2cba7c;
}

.Atable h1 span::before {
	right: 107%;
}

.Atable h1 span::after {
	left: 100%;
}
h3{
	font-family: 'Hanna', serif;
	padding-bottom: 8px;
	border-bottom: 1px solid gray;
	text-align: center;
}
table tr td a{
	margin: 0 10px;
	font-family: 'Nanum Gothic', serif;
}
.m_account input{
	width: 70px;
	height: 20px;
	padding: 2px;
	border: solid 2px #2cba7c;
}
.m_account p{
	font-family: 'Hanna', serif;
}
.m_account ul li{
	text-decoration: none;
	display: inline;
}
