@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}
header{
	margin: 0 auto;
	z-index: 1000;
	position: relative;
	padding: 1em 1em 1em;
	background: #2cba7c;
	font-family: 'Hanna', serif;
	color: white;
}


nav a {
	font-size: 25px;
	padding: 0px 20px 20px 20px;
	float: right;
	color : white;
	text-decoration: none;
}

nav a:hover{
	color:blue;
	text-decoration:none;
}

header > span {
	position: relative;
	font-size: 40px;
}
