@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

header{
	margin: 0 auto;
	z-index: 1000;
	position: relative;
	padding: 2.5em 1.8em 1.8em;
	background: #2cba7c;
	font-family: 'Hanna', serif;
	color: white;
}
nav a {
	font-size: 25px;
	padding: 0px 20px 20px 20px;
	float: right;
}
header > span {
	position: relative;
	font-size: 50px;
}
.side {
	float: left;
	width: 22%;
	height: 100%;
	border-right: solid 5px;
	border-right-color: #2cba7c;

}
.menu {
	text-align: center;
	background: rgba(0,0,0,0.01);
}
.menu h3 {
	color: #2cba7c;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-family: 'Hanna', serif;
	line-height: 50px;
	display: block;
}
.menu a {
	border-bottom: 1px solid gray;
	width: 100%;
	color: gray;
	padding: 1em;
	font-size: 1.1em;
	display: block;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Nanum Gothic', serif;
}

.my_bang{
	margin: 0 auto;
}
.grid {
	margin: auto;
}
.grid li {
	display: block;
	float: left;
	width: 20.09%;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	width: 100%;
}
.grid figure {
	display: block;
	float: left;
	margin: 0 1% 10px 1%;
	cursor: pointer;
	overflow: hidden;
}
.grid figure img {
	display: block;
}
.grid figure figcaption {
	position: absolute;
	font-size: 16px;
	font-weight: 400;
	left: auto;
	width: 100%;
	height: 60px;
	bottom: -60px;
	padding: 20px;
	color: #ddd;
	background: #18bcbc;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: bottom 0.2s ease;
	-moz-transition: bottom 0.2s ease-in-out;
	-ms-transition: bottom 0.2s ease-in-out;
	-o-transition: bottom 0.2s ease-in-out;
	transition: bottom 0.2s ease-in-out;
}

.grid figure figcaption a {
	color: #fff;
}

.grid figure figcaption a:hover {
	color: #ffd468;
}

.grid figure:hover figcaption {
	bottom: 0px;
}
