<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nppang</title>
	<link rel="stylesheet" type="text/css" href="resources/css/default.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/mypage.css" />
</head>
<body>
<header>
		<nav><a>Login</a></nav>
		<nav><a>Join</a></nav>
		<span>Nppang</span>
</header>
<div class="side">
	<nav class="menu">
		<ul>
			<li><a>Message</a></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
</div>
<div class="my_bang">
	<ul class="grid effect" id="grid">
		<li><a href="#"><img src="img/8.jpg"></a></li>
		<li><a href="#"><img src="img/9.jpg"></a></li>
		<li><a href="#"><img src="img/10.png"></a></li>
		<li><a href="#"><img src="img/11.png"></a></li>
		<li><a href="#"><img src="img/12.png"></a></li>
	</ul>
</div>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/imagesloaded.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>
</body>
</html>